:root {
    --bg: white;
    --txt: black;
    --crm-primary: #1b296a; /* bleu foncé */
    --crm-secondary: #ed6840; /* orange */
    --crm-rf: #cf2d4f; /* rouge */
    --crm-ofp: #7db9da; /* bleu clair */
    --crm-services: #f6af2e; /* jaune */
    --crm-mecenat: #488287; /* bleu vert */
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg);
    color: var(--crm-primary)
}

a {
    text-decoration: none;
}

h1, h2 {
    margin: 0;
    padding: 1rem;
}

button {
    cursor: pointer;
}

#app > * {
    width: 120rem;
    margin: auto;
    color: var(--crm-primary)
}

#app > header {
    display: flex;
    justify-content: space-between;
}

#app > header aside {
    padding: 1rem;
}

.logo {
    height: 8rem;
}

.menu {
    display: flex;
    gap: 1rem;
    padding: 0;
    list-style: none;
}

.menu a, .login input, .login button {
    display: block;
    padding: 1rem 2rem;
    border: 1px solid var(--crm-secondary);
    color: var(--crm-secondary);
    background-color: var(--crm-primary);
    transition: all ease .6s;
}

.menu a:hover {
    border: 1px solid var(--crm-primary);
    color: var(--crm-primary);
    background-color: var(--crm-secondary);
}

.login {
    padding: 5rem;
    transform: scale(1.5);
}

.login div {
    width: 24rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}

.login label {
    display:inline-block;
    width: 18rem;
}

.login input, .login button {
    border: 1px solid var(--crm-primary);
    color: var(--crm-primary);
    background-color: var(--crm-secondary);
    width: 22rem;
}

.login button { 
    display: block;
    border: 1px solid var(--crm-secondary);
    color: var(--crm-secondary);
    background-color: var(--crm-primary);
}

.login button:hover {
    border: 1px solid var(--crm-primary);
    color: var(--crm-primary);
    background-color: var(--crm-secondary);

}

.login ::placeholder {
    color: var(--crm-primary);
    opacity: .8; /* Firefox */
}

.titular {
    font-weight: bold;
}

table {
    border: 1px solid var(--crm-primary);
    border-collapse: collapse;
}

th {
    background: #1b296a33;
}

table tr th, table tr td {
    border: 1px solid var(--crm-secondary);
    padding: .5rem 1rem;
}


tbody tr:nth-child(odd) td {
    background: #00000011;
}