:root {
    --bg: white;
    --txt: black;
    --crm-primary: #1b296a; /* bleu foncé */
    --crm-secondary: #ed6840; /* orange */
    --crm-rf: #cf2d4f; /* rouge */
    --crm-ofp: #7db9da; /* bleu clair */
    --crm-services: #f6af2e; /* jaune */
    --crm-mecenat: #488287; /* bleu vert */
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg);
    color: var(--crm-primary)
}

a {
    text-decoration: none;
}

h1, h2 {
    margin: 0;
    padding: 1rem;
}

button {
    cursor: pointer;
}

#app > * {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    padding: .2rem;
    color: var(--crm-primary);
}

#app > header {
    background: transparent no-repeat;
    background-image: url('./logoh.jpg');
    background-size: auto 50px;
    padding-left: 100px;
    min-height: 50px;
}

#app > header h1 {
    font-size: 2rem;
    padding: .2rem;
}

.top {
    display: flex;
    align-items: stretch;
    justify-content: right;
    gap: .5rem;
    gap: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.top a {
    display: block;
    padding: .3rem;
}

.menu {
    display: flex;
    align-items: stretch;
    gap: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu a, input, button {
    display: block;
    padding: 1rem 2rem;
    border: 1px solid var(--crm-secondary);
    color: var(--crm-secondary);
    background-color: var(--crm-primary);
    transition: all ease .6s;
}

.menu a {
    border: 0;
    padding: 1rem;
    height: 100%;
}


input, button {
    border: 1px solid var(--crm-primary);
    color: var(--crm-primary);
    background-color: var(--crm-secondary);
}

.menu a:hover {
    border: 1px solid var(--crm-primary);
    color: var(--crm-primary);
    background-color: var(--crm-secondary);
}

.login {
    padding: 5rem;
}

.login div {
    width: 24rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}

.profile div {
    width: 60rem;
    display: flex;
    margin: 1rem;
    justify-content: start;
    align-items: stretch;
}

fieldset {
    margin-bottom: 1rem;
}

label {
    display:inline-block;
    width: 18rem;
}


.login button, .profile button { 
    display: block;
    border: 1px solid var(--crm-secondary);
    color: var(--crm-secondary);
    background-color: var(--crm-primary);
    width: 20.44rem;
}

.profile button {
    width: 39.2rem;
}

button:hover {
    border: 1px solid var(--crm-primary);
    color: var(--crm-primary);
    background-color: var(--crm-secondary);

}

::placeholder { 
    color: var(--crm-primary);
    opacity: .8; /* Firefox */
}

.titular {
    font-weight: bold;
}

table {
    display: block;
    max-width: 100%;
    border: 1px solid var(--crm-primary);
    border-collapse: collapse;
    overflow-x: scroll;
}

th {
    background: #1b296a33;
}

table tr th, table tr td {
    border: 1px solid var(--crm-secondary);
    padding: .5rem 1rem;
}


tbody tr:nth-child(odd) td {
    background: #00000011;
}