<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE - Heures de délégations</title>
    <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/style.css">
    <script src="./assets/js/vue.global.3.5.js"></script>
    <script src="./assets/main.js" type="module"></script>
</head>
<body>
    <div id="app">
    <header>
        <div class="top" v-if="usr.username !== null">
            <i class="fa fa-user"></i> <a href="#" data-view="profile" @click="goto">{{ usr.username }}</a> 
            | <a href="#" @click="logout">Déconnexion</a>
        </div>
        <div class="logo">
            <img class="logo" src="./assets/logoh.jpg" alt="Logo CSE CRM">
            <h1>Heures de délégation</h1>
        </div>
    </header>
    <main v-if="usr.username === null" class="login">
        <div>
            <input type="text" placeholder="Identifiant" v-model="credentials.username">
        </div>
        <div>
            <input type="password" placeholder="Mot de passe" v-model="credentials.password">
        </div>
        <div>
            <button @click="login">S'identifier</button>
        </div>
    </main>
    <main v-else>
        <nav>
            <ul class="menu">
                <li><a href="#" data-view="home" @click="goto">Accueil</a></li>
                <li><a href="#" data-view="profile" @click="goto">Mon profil</a></li>
                <li><a href="#" data-view="del" @click="goto">Mes heures</a></li>
                <li><a href="#" data-view="donation" @click="goto">Transfert d'heures</a></li>
            </ul>
        </nav>
        <section v-if="view === 'home'">
            <h2>Membres du Comité Social et Économique</h2>
            <table>
                <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Début mandat</th>
                        <th>Fin mandat</th>
                        <th>Titulaire</th>
                        <th>Admin</th>
                        <th>Heures / mois</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="m of members">
                        <td :class="{ titular: m.titular }">{{ m.username }}</td>
                        <td>{{ m.electedFr }}</td>
                        <td>{{ m.expireFr }}</td>
                        <td>{{ m.titular ? 'Oui' : 'Non' }}</td>
                        <td>{{ m.admin ? 'Oui' : 'Non' }}</td>
                        <td>{{ m.hours }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section v-else-if="view === 'profile'" class="profile">
            <h2>Mon profil</h2>
            <fieldset>
                <legend>Mes informations</legend>
                    <p><label>Identifiant:</label> {{ usr.username }}</p>
                    <p><label>Date d'élection:</label> {{ usr.electedFr }}</p>
                    <p><label>Fin de mandat:</label> {{ usr.expireFr }}</p>
            </fieldset>
            <fieldset>
                <legend>Mon mot de passe</legend>
                    <div>
                        <label>Mot de passe actuel</label>
                        <input type="password" placeholder="Mot de passe actuel" v-model="usr.password">
                    </div>
                    <div>
                        <label>Nouveau mot de passe</label>
                        <input type="password" placeholder="Nouveau mot de passe" v-model="usr.password">
                    </div>
                    <div>
                        <button >Mettre à jour mon mot de passe</button>
                    </div>
        </section>
        <section v-else-if="view === 'del'">
            <h2>Mes heures de délégation</h2>
            <table>
                <thead>
                    <tr>
                        <td>Mois</td>
                        <td>Nombre d'heures</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="m of usr.month">
                        <td>{{ m }}</td>
                        <td>{{ usr.hours }}</td>
                    </tr>
                </tbody>
            </table>

        </section>
        <section v-else-if="view === 'donation'">
            <h2>Transfert d'heures</h2>
            <p>An error occured while processing this directive</p>
            <p>Error code: 500/3</p>
        </section>
        <section v-else>
            <h2>Oups</h2>
            <p>Il n'y a rien à voir ici !</p>
        </section>
    </main>
    <footer>

    </footer>
        
    </div>
</body>
</html>